"""
These constants represent metadata for Lifemapper-available climate data 
packages.  New climate data packages should be in a file named 
CLIMATE_PACKAGE.tar.gz with a 



@note: Example directory structure:
        30sec-SEA/
           worldclim1.4/
              alt.tif
              bio1.tif
              ...
           AR5/
              2050/
                 RCP4.5/
                    alt.tif
                    bio1.tif
                    ...
                 RCP8.5/
                    alt.tif
                    bio1.tif
                    ...
              2070/
                 RCP4.5/
                    alt.tif
                    bio1.tif
                    ...
                 RCP8.5/
                    alt.tif
                    bio1.tif
                    ...
        
Filename pattern like 10min/CCSM4/2050/RCP8.5/cc85bi5019.tif
"""
from osgeo import gdalconst
 
# For remote data, cannot read to get this 
ENVLYR_GDALTYPE = gdalconst.GDT_Int16
ENVLYR_GDALFORMAT = 'GTiff'
 
# Decimal degrees for EPSG 4326
RESOLUTIONS = {'10min': 0.16667, '5min': 0.083333, '30sec': 0.0083333}
CLIMATE_KEYWORDS = ['bioclimatic variables', 'climate', 'elevation']

# Observed climate data, from www.worldclim.org 
# Observed climate data.  Example for www.worldclim.org
BASELINE_DATA = {
   'WC': {
      'name': 'Worldclim 1.4', # Name for climate scenario
      # Layers from Baseline which are re-used in predicted future
      'staticLayerTypes': ['ALT'],
      'directory': 'worldclim1.4', # Directory where layers for this scenario are found
      'time': (1950, 2000), # Year range (low, high) that these data represent
      'code': 'WC', # Metadata code for Lifemapper for this scenario
      'title': 'Worldclim 1.4', # A short title for this scenario
      'author': ' Hijmans, R.J., S.E. Cameron, J.L. Parra, P.G. Jones and A. Jarvis, 2005. Very high resolution interpolated climate surfaces for global land areas. International Journal of Climatology 25: 1965-1978', # Author of these cliamte data 
      'description': 'WorldClim 1.4 elevation and bioclimatic variables computed from interpolated observation data collected between 1950 and 2000 (http://www.worldclim.org/), 5 min resolution',    # An extended description of the data
      'keywords': ['observed', 'present'] # Keywords associated with these climate data
   }
}
 
# Time periods available for worldclim data, AR5 future projections, 
# CMIP5 past projections, from www.worldclim.org 
TIME_PERIODS = {
   '2050': { # Key representing a time step 
      'name': '2041-2060', # Name of time step
      'startdate': 2041, # Integer for start year, or None if NA
      'enddate': 2060, # Integer for end year, or None if NA
      'keywords': ['predicted', 'future'] # Keywords for this time step
   }, 
   '2070': {
      'name': '2061-2080',
      'startdate': 2061,
      'enddate': 2080,
      'keywords': ['predicted', 'future']
   } 
}

REPORTS = {
   # Future
   'AR5': { # Key for climate report
      'name': 'IPCC Fifth Assessment Report (2013)', # Name of climate report
      'model': {
         'code': 'CCSM4', # Code used for this climate model
         'name': 'Community Climate System Model, 4.0', # Name of this climate model
         'shortcode': 'cc', # Short code for climate model
         'author': 'National Center for Atmospheric Research (NCAR) http://www.cesm.ucar.edu/models/ccsm4.0/' # Author of climate model
      },
      'scenarios': 
      {
         # Representative Concentration Pathways
         'RCP4.5': { # Scenario key
            'shortcode': '45',
            'keywords': [
                         'radiative forcing +4.5', 
                         'likely temperature increase 1.1-2.6 C',
                        ]
         },
         'RCP8.5': { # Scenario key
            'shortcode': '85',
            'keywords': [
                         'radiative forcing +8.5', 
                         'likely temperature increase 2.6-4.8 C',
                         'likely sea level increase 0.45-0.82 m'
                        ] 
         } 
      } 
   } 
}

# Lifemapper-packaged data, produced by Worldclim, www.worldclim.org 
CLIMATE_PACKAGES = {
   '30sec-present-future-SEA': { # Name of climate data package
      # Southeast Asia, for PRAGMA
      # current: WC-30sec-SEA
      # future: CCSM4-RCP4.5-2050-30sec-SEA,CCSM4-RCP4.5-2070-30sec-SEA,CCSM4-RCP8.5-2050-30sec-SEA,CCSM4-RCP8.5-2070-30sec-SEA
      'res': '30sec', # Resolution of climate data in this package
      'topdir': '30sec-SEA', # Top directory for this package of data
      'bbox': [95, -11, 153, 21], # Bounding box for the layers in this package
      'helpme': None,
      # {REPORT: [Time,Time, ...]} 
      'past': {},
      # Name only
      'present': 'WC', # Key for observed scenario (should match BASELINE_DATA key)
      # {REPORT: [(Scenario,Time), (Scenario,Time) ...]} 
      'future': { # Future scenarios
         'AR5': [ # Should match key in REPORTS
                 ('RCP4.5', '2050'), # Tuples of (climate scenario key, time period)
                 ('RCP4.5', '2070'),
                 ('RCP8.5', '2050'), 
                 ('RCP8.5', '2070')
                ]
      },
      # Append to all scenario codes
      'suffix': 'SEA'
   }
}
                     
