# Note: This file must have the same basename as the CSV file it describes
# 
# This file must contain a Python dictionary with:
#     Key = field heading
#     Value = (Shortname, Type, optional Keyword ,optional AcceptedValueList)
# 
# Key is a fieldname in the first row of the CSV data file
# Shortname must be 10 characters or fewer and will be used in the shapefile 
#   created for each dataset.  
# Type must be 'integer', 'string', or 'real'
# Keyword (case-insensitive) MUST identify exactly five of the fields: 
#   ID, Longitude, Latitude, GroupBy, Dataname 
#     ID is the string or integer field containing a unique ID for each record.
#     Longitude and Latitude are real fields with the x and y coordinates 
#     GroupBy is an integer field identifying which value to group records by
#         (records in the CSV file should be sorted on this field)
#     Dataname is the string field containing the display name for the recordset
#         (if records for a dataset have different values, the first record will
#          determine the dataset name)
# AcceptedValues (optional) is a list of accepted values for this field.  
#   (Records with non-accepted values will be discarded)
# 

{'gbifid': ('gbifid', 'integer', 'id'),
  'datasetkey': ('datasetkey', 'string'), 
  'occurrenceid': ('occurid', 'string'),
  'kingdom': ('kingdom', 'string'),
  'phylum': ('phylum', 'string'),
  'class': ('class', 'string'),
  'order': ('order', 'string'),
  'family': ('family', 'string'),
  'genus': ('genus', 'string'),
  'species': ('species', 'string', 'dataname'),
  'infraspecificepithet': ('isepithet', 'string'), 
  'taxonrank': ('taxonrank', 'string', ['SUBSPECIES', 'SPECIES']),
  'scientificname': ('sciname', 'string'),
  'countrycode': ('cntrycode', 'string'),
  'locality': ('locality', 'string'),
  'publishingorgkey': ('puborgkey', 'string'),
  'decimallatitude': ('dec_lat', 'real', 'latitude'),
  'decimallongitude': ('dec_long', 'real', 'longitude'),
  'elevation': ('elevation', 'real'),
  'elevationaccuracy': ('elev_acc', 'real'),
  'depth': ('depth', 'real'),
  'depthaccuracy': ('depth_acc', 'real'),
  'eventdate': ('eventdate', 'string'),
  'day': ('day', 'integer'),
  'month': ('month', 'integer'),
  'year': ('year', 'integer'),
  'taxonkey': ('taxonkey', 'integer', 'groupby'),
  'specieskey': ('specieskey', 'integer'),
  'basisofrecord': ('basisofrec', 'string'),
  'institutioncode': ('inst_code', 'string'),
  'collectioncode': ('coll_code', 'string'),
  'catalognumber': ('catnum', 'string'),
  'recordnumber': ('recnum', 'string'),
  'identifiedby': ('idby', 'string'),
  'rights': ('rights', 'string'),
  'rightsholder': ('rightshold', 'string'),
  'recordedby': ('rec_by', 'string'),
  'typestatus': ('typestatus', 'string'),
  'establishmentmeans': ('estabmeans', 'string'),
  'lastinterpreted': ('lastinterp', 'string'),
  'mediatype': ('mediatype', 'string'),
  'issue': ('issue', 'string') }
