# .............................................................................
##   Columns
##   1) key: required, column/header name or zero-based column index,
##   2) name: required, <= 10 chars,
##   3) type: required, int, str, or float
##   4) role: optional for TaxaName, UniqueID field,
##            required for Longitude, Latitude, Geopoint, GroupBy fields,
##   4or5..n) optional, all additional values are acceptedvalues , 
# .............................................................................
# Note, This file must have the same basename as the CSV file it describes
# 
# '#' indicates a comment line, all others must contain comma-separated values:
#  IFF a field performs a specific role in these data, role name should be the 
#      4th value on a line
#   1st column:  Key = field name (in file header) 
#                     or column index (Zero-based)
#   2nd column:  Shortname = a new field name, 10 chars or less
#   3rd column:  Type = int, str, or float
#   4th column:  Role = if applicable for this field, Longitude, Latitude, Geopoint, 
#                                              GroupBy, TaxaName, UniqueID
#   All following columns (starting at 4 or 5):  accepted values for this field 
#
# Role (case-insensitive) MUST be present 2-4 of the fields
#    Required:
#       GroupBy field contains value to group records by. 
#    Required: Either Longitude & Latitude or Geopoint
#       Longitude field contains x coordinate
#       Latitude field contains y coordinate
#       Geopoint field contains both x and y coordinates
#           CSV data will be in the format {"lat": -16.35, "lon": -67.616667}
#    Optional:
#       UniqueID field contains a unique ID for each record. Values will be 
#          generated if missing. 
#    Optional:
#       TaxaName field contains the taxa name for the recordset. If role is not
#          present, records will be named with GroupBy field . If role is 
#          present and records in a group have different values, the first 
#          record be used as the dataset displayname.  
#
#    TODO: GroupBy could be optional if data is already parsed into files by taxa
# .............................................................................

0, gbifid, integer, uniqueid
1, occurid, integer
2, taxonkey, integer, groupby
3, datasetkey, string
4, puborgkey, string
5, basisofrec, string
6, kingdomkey, integer
7, phylumkey, integer
8, classkey, integer
9, orderkey, integer
10, familykey, integer
11, genuskey, integer
12, specieskey, integer
13, sciname, string, taxaname
14, dec_lat, real, latitude
15, dec_long, real, longitude
16, day, integer
17, month, integer
18, year, integer
19, rec_by, string
20, inst_code, string
21, coll_code, string
22, catnum, string

