 {"0": {"name": "gbifid", "type": "int", "role": "uniqueid"},
  "1": {"name": "occurid", "type": "int"},
  "2": {"name": "taxonkey", "type": "int", "role": "groupby"},
  "3": {"name": "datasetkey", "type": "str"},
  "4": {"name": "puborgkey", "type": "str"},
  "5": {"name": "basisofrec", "type": "str"},
  "6": {"name": "kingdomkey", "type": "int"},
  "7": {"name": "phylumkey", "type": "int"},
  "8": {"name": "classkey", "type": "int"},
  "9": {"name": "orderkey", "type": "int"},
  "10": {"name": "familykey", "type": "int"},
  "11": {"name": "genuskey", "type": "int"},
  "12": {"name": "specieskey", "type": "int"},
  "13": {"name": "sciname", "type": "str", "role": "taxaname"},
  "14": {"name": "dec_lat", "type": "float", "role": "latitude"},
  "15": {"name": "dec_long", "type": "float", "role": "longitude"},
  "16": {"name": "day", "type": "int"},
  "17": {"name": "month", "type": "int"},
  "18": {"name": "year", "type": "int"},
  "19": {"name": "rec_by", "type": "str"},
  "20": {"name": "inst_code", "type": "str"},
  "21": {"name": "coll_code", "type": "str"},
  "22": {"name": "catnum", "type": "str"}
 }
