Cython
Flask 		# brings Werkzeug
mapscript
scipy 		# brings numpy
matplotlib
psycopg2-binary
requests
dendropy
lmpy		# https://github.com/lifemapper/lifemapper-server/blob/main/src/lmpy/lmpy-2.9.99-py3-none-any.whl
idigbio		# https://github.com/lifemapper/lifemapper-server/blob/main/src/lmserver/idigbio-0.8.5.tar.gz