; .............................................................................
; Lifemapper configuration file for site-specific parameters 
; This file must be renamed or appended to site.ini, and installed in  
;   @LMHOME@/config to override variables in LIFEMAPPER_COMPUTE_CONFIG_FILE
; NOTE: For list variables, separate with commas, one line
; NOTE: This particular version is for badenov
; .............................................................................
; ...............................................
; LmCompute
; ...............................................
[LmCompute - contact]
INSTITUTION_NAME: University of Kansas Biodiversity Institute
ADMIN_NAME: Aimee Stewart
ADMIN_EMAIL: aimeestewart@ku.edu 
LOCAL_MACHINE_ID: 

; ...............................................
;; [LmCompute - data]
;; SCENARIO_PACKAGE_SEED: 30sec-present-future-SEA

; ...............................................
;; [LmCompute - Job Retrievers]
;; JOB_RETRIEVER_KEYS: lifemapperJobServer,dir1

; ...............lifemapperJobServer.................
;; [LmCompute - Job Retrievers - lifemapperJobServer]
;; RETRIEVER_TYPE: server
;; JOB_SERVER: http://svc.lifemapper.org/jobs
;; PULL_THRESHOLD: 50
;; NUM_TO_PULL: 50

; ...............dir1.................
;; [LmCompute - Job Retrievers - dir1]
;; RETRIEVER_TYPE: directory
;; JOB_DIR: /home/lmwriter/holdJobs/

; ...............................................
[LmCompute - plugins - maxent]
;; JAVA_MAX_MEM_OPTION = 4g
;; JAVA_INIT_MEM_OPTION = 4g
;;;; Reassemble this command if changing any component options
JAVA_CMD: %(JAVA_EXE)s -Xms%(JAVA_INIT_MEM_OPTION)s -Xmx%(JAVA_MAX_MEM_OPTION)s -Djava.util.prefs.systemRoot=%(JAVA_SYSTEM_ROOT)s -Djava.util.prefs.userRoot=%(JAVA_USER_ROOT)s -cp
